.content {
  grid-area: content;
  /* background-color: #2400c7; */
  background: rgb(29, 29, 29);
  background: linear-gradient(
    135deg,
    rgba(29, 29, 29, 1) 0%,
    rgba(0, 7, 36, 1) 100%
  );
  border-radius: 12px;
  padding: 12px;
}
