.header {
  display: grid;
  grid-area: header;
  background-color: rgb(212, 212, 212);
  color: #0021f5;
  border-radius: 12px;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.inner {
  place-self: center start;
  font-family: 'Russo One', sans-serif;
  font-size: 36px;
  margin-left: 12px;
}

.active {
  color: aliceblue;
  transition-duration: 0.5s;
  cursor: pointer;
}

.active:hover {
  letter-spacing: 2px;
}
.block_content {
  /* place-self: center end; */

  margin-right: 12px;
}
.login {
  margin-right: 20px;
  color: aliceblue;
}
