.content {
  grid-area: content;
  background-color: #212121;
  border-radius: 12px;
  padding: 12px;
  /* border: 1px solid green; */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  /* font-family: 'Russo One', sans-serif; */
}
.login {
  font-size: 26px;
  font-family: 'Montserrat';
  font-weight: 400;
  color: rgb(238, 247, 255);
}
.errorLog {
  display: inline-block;
  padding: 8px;
  border: 3px solid red;
  color: rgb(255, 33, 25);
}
/* Специфичные стили для метки */
label {
  color: aliceblue !important; /* Здесь вы можете установить желаемый цвет текста метки */
  font-family: Montserrat;
}
