.content {
  display: grid;
  grid-area: content;
  grid-template-columns: 2fr 10fr;
  background-color: #2400c7;
  border-radius: 12px;
  padding: 12px;
}

.dialog {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin: 16px;
}
.all_dialogs {
  display: grid;
}

.message {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 6px;
}
